@import "~bootstrap/scss/bootstrap.scss";
body {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.app {
  .title {
    margin: 30px;
  }
  width: 900px;

  .logo {
    width: 200px;
    float: right;
  }

  h1 {
    display: inline-block;
  }
}

.login {
  width: 280px;
  display: block;
  margin: 60px auto;
}

.filters-component {
  display:flex;
  flex-direction: column;
  width:100%;
  justify-content:center;

  .filters-component-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    align-items: center;
    
    select {
      margin: 0 20px 0 20px;
    }

    button {
      margin: 30px auto;
    }
  }
}

.react-calendar-timeline .rct-items .rct-item.none {
  background-color: #32CD32;
  border: 1px solid #bbb;
}

.react-calendar-timeline .rct-items .rct-item.one {
  background-color: #fdff0c;
  border: 1px solid #bbb;
}

.react-calendar-timeline .rct-items .rct-item.two {
  background-color: #f40909;
  border: 1px solid #bbb;
}

div .react-calendar-timeline .rct-header .rct-label-group {
  background-color: #007bff;
}

div .react-calendar-timeline .rct-sidebar .rct-sidebar-header {
  background-color: #007bff;
}

.react-datepicker-wrapper {
  width: 100%;
  display: block;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-left: 20px;

  .react-datepicker__input-container {
    width: 100%;
    input {
      width: 100%;
      border: none;
    }
  }
}
